---
Language: Cpp
BasedOnStyle: Microsoft
BreakBeforeBraces: Allman
IndentWidth: 4
TabWidth: 4
UseTab: ForIndentation
ColumnLimit: 0
AccessModifierOffset: -4
IndentCaseLabels: false
SortIncludes: Never
---
